@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-color: #55c1ff;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0 10px;
    width: 100%;
    color: #000;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: aliceblue;
    box-shadow: 0 0 5px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    top: 10px;
    left: 20px;
}

.nav-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-buttons a {
    text-decoration: none;
    color: navy;
}

.nav-buttons {
    list-style: none;
    margin: 10px 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px;
    background-color: aliceblue;
}

.nav-buttons:hover {
    transform: scale(104%);
}

.nav-buttons:active {
    transform: scale(98%);
}

main {
    font-family: 'Nunito Sans', sans-serif;
}

.hero {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    height: 60%;
    width: 60%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    line-height: 2;
    text-transform: lowercase;
    text-shadow: 15 15 15;
    font-size: xx-large;
}

.about {
    background-color: #55c1ff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px;
    height: calc(50vh - 1px);
}

.about-text {
    max-width: 54%;
    line-height: 1.5;
    margin: 5px;
    padding: 10px;
}

.about-pic {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.abacus {
    margin-bottom: 40px;
    transform: scale(19%);
    object-fit: cover;
}

.footer {
    display: flex;
    align-items: top;
    justify-content: space-between;
    flex-direction: column;
    background-color: grey;
    opacity: 90%;
    height: 20vh;
    padding: 2%;
}

.footer-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    color: black;
    opacity: 70%;
    font-size: 22px;
}

.footer-text a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}