@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    border: 4px solid black;
    border-radius: 15px;
    margin: 10px;
    height: 100vh;
}

.game-container {
    border: 1px solid black;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    --content-height: 15rem;
    --content-width: 30vw;
    --content-padding: 25px;
    --content-margin: 25px;
}

.left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    border-radius: 10px;
    height: var(--content-height);
    width: var(--content-width);
    padding: var(--content-padding);
    margin: var(--content-margin);
}

.entry-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid blue;
    height: var(--content-height);
    width: var(--content-width);
    padding: var(--content-padding);
    margin: var(--content-margin);
}

#time-answer,
#spelling-answer,
#math-answer {
    height: 2rem;
    width: 6rem;
    text-align: center;
    border: 4px solid black;
    border-radius: 10px;
}

.time-enter,
.spelling-enter,
.math-enter {
    margin: 10px;
    padding: 10px;
    background-color: green;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 10px;
}

.time-enter:hover, 
.spelling-enter:hover,
.math-enter:hover {
    transform: scale(1.1);
}

.time-enter:active,
.spelling-enter:active,
.math-enter:active {
    transform: scale(.99);
}