@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: aliceblue;
    /* border: 4px solid black;
    border-radius: 15px;
    margin: 10px;
    height: 100vh; */
}

.game-container {
    border: 1px solid black;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    

    height: 100vh;
    --content-height: 60vw;
    --content-width: 50vw;
    --content-padding: 25px;
    --content-margin: 25px;
}

.left-container {
    background: linear-gradient(#55c1ff, #5887ff);
    box-shadow: 0 0 15px;

    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    border-radius: 10px;
    height: var(--content-height);
    width: var(--content-width);
    padding: var(--content-padding);
    margin: var(--content-margin);
}

img {
    object-fit: contain;
    width: var(--content-width);
    height: 350px;
    display: block;
    overflow: hidden;
}

.entry-container {
    background: linear-gradient(#55c1ff, #5887ff);
    box-shadow: 0 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    height: var(--content-height);
    width: var(--content-width);
    padding: var(--content-padding);
    margin: var(--content-margin);
}

h4 {
    margin-top: 100px;
}

.answer-line {
    display: flex;
    justify-content: space-between;
}

.new-container {
    height: 50px;
    margin-bottom: 25px;
    font-size: 48;
}

input {
    min-width: 10rem;
    min-height: 5rem;
    background-color: lightblue;
    font-size: 36px;
} 

input:focus {
    outline-width: 0;
}

input::placeholder {
    font-size: 36px;
}

#time-answer,
#spelling-answer,
#math-answer {
    height: 2rem;
    width: 6rem;
    text-align: center;
    border: 4px solid black;
    border-radius: 10px;
}

.time-enter,
.spelling-enter,
.math-enter {
    min-width: 10rem;
    min-height: 5rem;
    background-color: green;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 10px;
}

.time-enter:hover, 
.spelling-enter:hover,
.math-enter:hover {
    transform: scale(1.1);
}

.time-enter:active,
.spelling-enter:active,
.math-enter:active {
    transform: scale(.99);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.reload {
   font-size: 6rem;
   width: 6rem;
   height: 6rem;
   background-color: transparent;
   border: none;
}

.reload:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.reload:active {
    transform: scale(1);
}