@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: top;
    justify-content: space-between;
    box-shadow: 0 0 10px;
    border: 1px solid red;
}

.nav-line {
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    box-shadow: 0 0 10px;
}

.nav-buttons a {
    text-decoration: none;
}

.nav-buttons {
    list-style: none;
    margin: 10px 15px;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 4px;
}

main {
    font-family: 'Nunito Sans', sans-serif;
    background-color: aliceblue;
    min-width: 848px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    --content-height: 75%;
    --content-width: 75%;
    --content-padding: 25px;
    --content-margin: 25px;
}

.game-container {
    border: 1px solid black;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.main-container {
    border: 4px solid red;
    margin: 50px 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 85%;
    
}

.game-container-one {
    background: linear-gradient(#55c1ff92, #55c1ff);
    box-shadow: 0 0 15px;

    border: 4px solid blue;
    border-radius: 10px;

    margin: 25px 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 700px;
    max-width: 100%;
    position: relative;
}

.game-container-one.active {
    background: linear-gradient(#55c1ff92, #55c1ff);
    box-shadow: 0 0 15px;

    border: 4px solid red;
    border-radius: 10px;

    margin: 25px 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 700px;
    max-width: 100%;
    position: relative;

}

.question-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: aliceblue;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -20px;
}

img {
    object-fit: contain;
    width: var(--content-width);
    height: 350px;
    display: block;
    overflow: hidden;
}

.new-math-div {
    border: 4px solid maroon;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry-container {
    background: linear-gradient(#55c1ff, #5887ff);
    box-shadow: 0 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    height: var(--content-height);
    width: var(--content-width);
    padding: var(--content-padding);
    margin: var(--content-margin);
}

h4 {
    margin-top: 100px;
}

.answer-line {
    display: flex;
    justify-content: space-between;
}

.new-container {
    height: 50px;
    margin-bottom: 25px;
    font-size: 48;
}

.time-answer,
.spelling-answer,
.math-answer {
    min-width: 10rem;
    min-height: 5rem;
    background-color: lightblue;
    font-size: 36px;

    height: 4rem;
    width: 6rem;
    text-align: center;
    border: 4px solid black;
    border-radius: 10px;
}

.time-answer:focus,
.spelling-answer:focus,
.time-answer:focus {
    outline-width: 0;
}

.time-answer::placeholder,
.spelling-answer::placeholder,
.math-answer::placeholder {
    font-size: 36px;
}

.time-enter,
.spelling-enter,
.math-enter {
    margin-top: 20px;
    min-width: 10rem;
    min-height: 5rem;
    background-color: green;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 10px;
}

.time-enter:hover, 
.spelling-enter:hover,
.math-enter:hover {
    transform: scale(1.1);
}

.time-enter:active,
.spelling-enter:active,
.math-enter:active {
    transform: scale(.99);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.reload {
   font-size: 6rem;
   width: 6rem;
   height: 6rem;
   background-color: transparent;
   border: none;
}

.reload:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.reload:active {
    transform: scale(1);
}

/* navigation */

.nav-plus {
    display: none;
    border: 2px solid red;
    font-size: 40px;
    max-height: 50px;
    min-width: 100px;
}

@media (max-width: 1000px) {
    .nav-line {
        flex-direction: column;
        display: none;
    }
    
    .bye {
        display: block;
    }
    
    .nav-plus {
        display: flex;
        text-align: center;
        justify-content: center;
    }
}